<!DOCTYPE html>
<html>
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/R.png"
                  alt="dhrumit"
                  class="img-fluid"
                  height="400"
                  width="400"
                  title="Dhrumit Parmar"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I Am a <span class="text_clr"> Mern Stack Devloper </span> And
                Software Devloper
              </h1>
              <a href="#"><button>ABOUT ME</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer code   -->
    {{>footer}}
    
  </body>
</html>
